<form class="contactanos animate__animated animate__fadeInLeft">

    <h1>Contactanos</h1>
    <span>Nos gustaría escucharte!</span>
    <div class="form-field">
        <input type="text" id="name" name="name" placeholder="Nombre *">
    </div>
    <div class="form-field">
        <input type="email" id="email" name="email" placeholder="Email *">
    </div>
    <div class="form-field">
        <input type="text" id="asunto" name="asunto" placeholder="Asunto">
    </div>
    <div class="form-field">
        <textarea type="text" id="text" name="text" placeholder="Mensaje"></textarea>
    </div>
    <button>Enviar</button>
</form>