<form class="contactanos">
    <div class="form-field">
        <label for="name">Nombre *</label>
        <input type="text" id="name" name="name">
    </div>
    <div class="form-field">
        <label for="email">Email *</label>
        <input type="email" id="email" name="email">
    </div>
    <div class="form-field">
        <label for="asunto">Asunto </label>
        <input type="text" id="asunto" name="asunto">
    </div>
    <div class="form-field">
        <label for="text">Mensaje </label>
        <textarea type="text" id="text" name="text"></textarea>
    </div>
    <button>Enviar</button>
</form>