<ul id="menu" class="menu">

    <li>
        <a routerLink="/inicio/index">Inicio</a>
    </li>
    <li>
        <a routerLink="/amarres">Amarres</a>
    </li>
    <li>
        <a href="/#/inicio/amor-y-magia">{{ PAGE_NAME | uppercase }} </a>
    </li>
    <li>
        <a href="/#/inicio/servicios">Servicios</a>
    </li>
    <li>
        <a routerLink="/contacto">Contacto</a>
    </li>
</ul>

<div id="menu-mobile" class="menu-mobile">
    <img src="./assets/imagenes/iconos/menu.png" width="20px" (click)="showList()">

    <ul class="list" *ngIf="showMobileList" (click)="showList()">
        <li>
            <a routerLink="/inicio">Inicio</a>
        </li>
        <li>
            <a routerLink="/amarres">Amarres</a>
        </li>
        <li>
            <a href="/#/inicio/amor-y-magia">{{ PAGE_NAME | uppercase }} </a>
        </li>
        <li>
            <a href="/#/inicio/servicios">Servicios</a>
        </li>
        <li>
            <a routerLink="/contacto">Contacto</a>
        </li>
    </ul>
</div>