<div class="columna col1">

    <h1>
        BIENVENIDOS A CHAMAN DEL AMOR
    </h1>
    <p>
        ¿Tienes tiempo consultando y no resuelves nada?
    </p>

    <p>
        ¿Sientes que has perdido mucho tiempo y nada se soluciona?
    </p>
    <p>
        Contamos con maestros especialistas en toda clase de problemas,
    </p>

    <p>
        Somos expertos en amarres y alejamientos de amor, tenemos amplia experiencia, te ayudamos espiritualmente
        con tu vida, tu ser amado, sin importancia de sexo ni distancia... Contáctanos!
    </p>

    <h1>
        ESCRÍBENOS, LLÁMANOS O TEN UNA VIDEOLLAMADA CON NOSOTROS
    </h1>

    <h1>
        213 283 5598
    </h1>
</div>

<div class="columna col2">
    <img src="./assets/images/chaman.jpg" width="100%">
</div>