<div class="columna col1">

    <h1>
        {{ PAGE_NAME | uppercase}}
    </h1>
    <div class="text">

        <p>
            ¿Tienes tiempo consultando y no resuelves nada?
        </p>
    
        <p>
            ¿Sientes que has perdido mucho tiempo y nada se soluciona?
        </p>
        <p>
            Contamos con maestros especialistas en toda clase de problemas,
        </p>
    
        <p>
            Somos expertos en amarres y alejamientos de amor, tenemos amplia experiencia, te ayudamos espiritualmente
            con tu vida, tu ser amado, sin importancia de sexo ni distancia... Contáctanos!
        </p>
    </div>

    <h2>
        ESCRÍBENOS O LLÁMANOS {{ CELLPHONE | phone }}
    </h2>
</div>

<div class="columna col2">
    <img src="./assets/imagenes/magiaamor.jpg" width="100%">
</div>