<div class="amarres">
    <div class="container animate__animated animate__fadeInLeft">
        <div class="close" (click)="goToHome()">
            <img src="./assets/imagenes/iconos/close_black.png" width="24px">
        </div>
        <h1>¿QUÉ ES UN AMARRE DE AMOR?</h1>
        <span>Es un ritual muy poderoso que permite recuperar un amor perdido, enamorar a alguien que no corresponde, avivar el deseo sexual, fortalecer una relación, resolver una infidelidad o conseguir una pareja estable. Contáctanos nosotros te ayudamos.</span>
        <img src="./assets/imagenes/amarres.png">
    </div>
</div>