<h2>CONTACTA CON NOSOTROS</h2>
<h2>ESCRÍBENOS, LLÁMANOS O TEN UNA VIDEO LLAMADA CON NOSOTROS (512-487-6521)</h2>
<p>El costo de la llamada serán los que estipulados por su empresa de telefonía local o celular y serán ellos quienes efectúen el recuerdo por el mismo. Es importante aclarar que estas llamadas pueden aplicar un costo máximo de $1USD IVA incluido, que solo serán cobrados por su operador para su territorio</p>
<span>Este sitio va dirigido exclusivamente a mayores de edad (18 años). </span>
<span>– De acuerdo con las legislaciones vigentes, se establece que las predicciones, videncias psiquicas, lecturas de cartas y hechizos tienen fines de entretenimiento y ayuda personal.</span>
<span>– Estos servicios no sustituiran la debida atención médica, legal, financiera, psicológica y psiquiátrica.</span>
<span>– Todas las personas son diferentes, por tanto los resultados pueden variar de una persona a otra.</span>
<span>– Los resultados ante cada caso son probables y no existe evidencia científica o eficacia de los mismos.</span>